.cashier_page {
	margin-top: 2em;
}
.cashier_page h1 {
	margin-bottom: 0.5em;
	color: var(--light-brown-acc);
}

.costumer_order_card {
	display: grid;
	gap: 2em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	border: 1px solid var(--dark-green-acc);
	border-radius: var(--outer-radius);
	box-shadow: var(--box-shadow);
	padding: 1em;
	background-color: var(--menu-card-color);
}

.changes {
	display: inline-grid;
	border-radius: var(--inner-radius) ;
	background-color: var(--bg-light);
	padding: 1em;
	grid-row: 2 ;
	grid-column: 2 / span 2;
	justify-content: center;
}

.order_number {
	grid-column: 1;
	grid-row: 2;
	margin: 2em;
}
.order_dish {
	display: inline-grid;
	grid-row: 1;
	grid-column: 2;
}

.send_btn {
	display: inline-grid;
	grid-column: 2 / span  2;
	grid-row: 3;
}

.send_btn button {
	font-size: 1em;
}
