.cashier_page {
	margin-top: 2em;
}
.cashier_page h1 {
	margin-bottom: 0.5em;
	color: var(--light-brown-acc);
}

.costumer_order_card {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	border: 1px solid var(--dark-green-acc);
	border-radius: var(--outer-radius);
	box-shadow: var(--box-shadow);
	padding: 2em 1em 1em;
	margin-bottom: 1em;
}

.order_open {
	grid-column: 7/8;
	justify-self: flex-end;
}

.costumer_order_card > ul {
	grid-column: 2/7;
	grid-row-start: 1;
}

.card-container.order-card-dish {
	/* display: flex;
	align-items: center;
	justify-content: space-around; */
	margin-bottom: 1em;
	border-radius: var(--inner-radius);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
}

.order_number {
	grid-column: 1;
	grid-row: 1;
	margin: 2em;
	font-weight: 700;
}

.order_amount {
	font-weight: 700;
	grid-column: 1;
	grid-row-start: 1;
	margin-bottom: 0.2em;
}

.order_dish {
	grid-column: 2/3;
	grid-row-start: 1;
}

.changes {
	grid-column: 3/6;
	grid-row-start: 1;
}

.staff_changes {
	grid-column: 2/6;
	grid-row-start: 2;
	margin-bottom: 0.2em;
}

.ingredients {
	grid-column: 2/6;
	grid-row-start: 3;
}

.staff_price {
	grid-column: 2;
	grid-row-start: 4;
	margin-top: 0.2em;
	color: var(--dark-green-acc);
}

.send_btn {
	display: inline-grid;
	grid-column: 7 / span 9;
	grid-row: 3;
	max-width: 13em;
}

.send_btn button {
	font-size: 1em;
}

.header-button-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	margin-right: 1.5em;
}

.staff-button-container {
	grid-column: 8/8;
	width: 4em;
	justify-self: flex-end;
}
