.shopping-cart {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em; 
	width: 100%; 
	box-shadow: var(--box-shadow);
	border: 1px solid var(--dark-green-acc);
	padding: 2em 0;
	border-radius: var(--outer-radius);
}

.cart-h1 {
	color: var(--light-brown-acc); 
	margin-top: 0.8em; 
	margin-bottom: 0.2em; 
}

.order-menu {
	grid-template-rows: repeat(10, 1fr);
	min-width: 16em;
	height: 18em;
	width: 100%;
	margin: 0.35em 0;
	text-align: left;
	background-color: var(--menu-card-color);
}

.dumpster {
	color: var(--light-green-acc); 
	font-size: 1.7em;
	grid-area: 6 / 8 / 9/ 8; 
	align-self: center;
	/* margin-bottom: 0.5em;  */
}


.img-container {
	grid-area: 1/ 1/ 3/span 2; 
	width: 80%;
	}

.name-container {
	grid-area: 1/ 3 / 1 /span 8;
	color: var(--dark-green-acc);
}

.description-text {
	grid-area: 2 / 3/ 6 /span 8; 
	margin-top: 0.3em; 
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-light);
	margin: 0.5em; 
	border: 1px solid rgb(206, 203, 203); 
	padding: 0.2em 0.8em; 
	box-shadow: var(--box-shadow);
	border-radius: 30px; 
	grid-area: 6 / 1 / 9 / span 4;
	max-height: 2.5em;
	max-width: fit-content;
	align-self: center;
}
.button-container p {
	padding: 0.5em 1.2em; 
}

.food-price{
	grid-area: 6 / 6 / 9/ span 3; 
	font-weight: 600;
	align-self: center;
	color: var(--dark-green-acc);
}

.input {
	grid-area:9 / 1 / 11 / span 8; 
	width: 100%; 
}

.input p {
	margin-bottom: 0.4em; 
}



.remove-food, .add-food {
	font-size: 1em;
	
}

.shopping-cart .sum-order-container  {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	color: var(--bg-light); 
	box-shadow: var(--box-shadow);
	border: 1px solid var(--dark-green-acc); 
	border-radius: var(--inner-radius);
	padding: 1em; 
	margin-top: 1em; 
	width: 85%;
}

.sum-order-container p {
	color: var(--dark-green-acc); 
	font-weight: bold;
	
}

.order-form-section{
	margin: 1em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	}
	
	.costumer-form{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
		width: 100%;
	}
	
	.costumer-form h3{
		align-self: flex-start;
		padding-left:8%;
	}
	
	.card-container.costumer-info-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 16em;
		width: 100%;
		margin: 0.5em 0;
		padding: 1em;		
	}
	
	.costumer-info-container div:nth-last-child(-n+3){
		margin-top: 1em;
	
	}
	
	.card-container.costumer-info-container  * {
		width: 100%;
	}
	
	.order-error-message-container{

	}
	
	.payment-container label{
		font-weight: 700;
	}
	
	.payment-container input{
		
		align-self: center;
	
	}
	
	.payment-container label > p{
		font-weight: 400;	
		font-size: 14px;
		grid-area: 2/2/2/4;
	}

	.payment-container span{
		border-bottom: 1px solid var(--text-dark);
		grid-area: 4/2/4/4;
		
	}
	
	#payment-input-container{
		margin: 0;
	}

	#payment-input-container > label{
		display: grid;
		grid-template-columns: 2em 1fr 1fr;
		grid-template-rows: 2fr 2fr 1fr 1fr;
		align-items:flex-start;
	}

	.order-submit-button{
		font-size: 18px;
		margin: 1.5em 0 2.5em;
	}


@media screen and (min-width: 550px) {

/* 	.name-container {
		grid-area: 1/ 3 / 1 /span 4;
	}

	.description-text {
		grid-area: 2 / 3 / 4 /span 8; 
	}

	.button-container {
		grid-area: 6 / 6 / 7 ;
	}

	.food-price {
		grid-area: 5 / 8 / 8; 
	} */

	.change {
		max-width: 70%; 
	}
} 


/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.order-menu {
		height: 14em;
	}
	

	.dumpster {
		grid-area: 8 / 8 / 9 ;
		/* margin: 1.5em 0em 0.2em 1em; */
		align-self: center;
		justify-self: center;
	}

	.button-container {
		grid-area: 8/ 6 / 9 ;
		max-height: 2em;
		/* margin: 2em 0em 0em 1em;  */
		align-self: center; 
	}

	.food-price {
		grid-area: 8 / 7 / 9;
		/* margin: 1.5em 0em 0em 3em; */
		align-self: center;
		justify-self: center;

	}

	.input {
		grid-area: 6 / 3 / 9 / span 4; 
		width: 85%;
		margin-top: 0.4em; 
		align-self: center;
	}



	.shopping-cart .sum-order-container {
		margin-left: 50%; 
		width: 35%; 
	}
	.card-container.costumer-info-container{
		padding: 2em;
	}
}

/* desktop */
@media screen and (min-width: 992px) and (max-width: 1023px) {

	.order-menu {
		height: 14em;
	}
	

	.dumpster {
		grid-area: 8 / 8 / 9 ;
		/* margin: 1.5em 0em 0.2em 1em; */
		align-self: center;
		justify-self: center;

	}

	.button-container {
		grid-area: 8/ 6 / 9 ;
		max-height: 2em;
		/* margin: 2em 0em 0em 1em;  */
		align-self: center; 
	}

	.food-price {
		grid-area: 8 / 7 / 9;
		/* margin: 1.5em 0em 0em 3em; */
		align-self: center;
		justify-self: center;

	}

	.input {
		grid-area: 6 / 3 / 9 / span 4; 
		width: 85%;
		margin-top: 0.4em; 
		align-self: center;
	}



	.costumer-form{
		width: 50%;
	}

	.card-container.costumer-info-container p{
width: 100%;
	}
	.card-container.costumer-info-container{
		align-items: flex-start;
		padding: 2em;
	}
	.shopping-cart .sum-order-container {
		margin-left: 50%; 
		width: 35%; 
	}
}

/* large desktop */
@media screen and (min-width: 1024px)  {

	.order-menu {
		height: 14em;
	}
	

	.dumpster {
		grid-area: 8 / 8 / 9 ;
		/* margin: 1.5em 0em 0.2em 1em; */
		align-self: center;
		justify-self: center;

	}

	.button-container {
		grid-area: 8/ 6 / 9 ;
		max-height: 2em;
		/* margin: 2em 0em 0em 1em;  */
		align-self: center; 
	}

	.food-price {
		grid-area: 8 / 7 / 9;
		/* margin: 1.5em 0em 0em 3em; */
		align-self: center;
		justify-self: center;

	}

	.input {
		grid-area: 6 / 3 / 9 / span 4; 
		width: 85%;
		margin-top: 0.4em; 
		align-self: center;
	}

	.shopping-cart .sum-order-container {
		margin-left: 50%; 
		width: 35%; 
	}

	
	.costumer-form{
		width: 50%;
	}

	.card-container.costumer-info-container{
		align-items: flex-start;
		padding: 2em;
	}

	.card-container.costumer-info-container p{
		width: 100%;
			}
}
