header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-dark);
	padding: 1em 2em;
	position: fixed;
	width: 100%;
	height: 70px;
	transition: background-color 2s ease-in-out;
	z-index: 1000;
	
}

@media screen and (min-width:992px){
	header {
		padding: 1em 4em;
		height: auto;
	}

}



.scroll-opacity {
	background-color: var(--bg-dark-opacity);
	transition: background-color 2s ease-in-out;
	height: 70px;
	padding: 1em 1em;
}


.cart-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	transition:all 0.3s ease-in-out;
	
}.cart-button:hover{
	transform: scale(1.1);
}

.logged-in-container{
	max-width: 3.1em ;
	
}


.logo {
	width: 79px;
	height: auto;
	padding: 1em;
}


@media screen and (min-width:1024px){
	.logo {
		width: 136px;
		height: auto;
	}
}

.hamburger-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	color: var(--light-green-acc);
	transition: all 0.3s ease-in-out;
}

.hamburger-button:hover{
	cursor: pointer;
	transform: scale(1.1);
	color: var(--light-brown-acc);
}

.hamburger{
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	color: var(--light-green-acc);
}