header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-dark);
	padding: 1em;
	position: fixed;
	width: 100%;
	height: auto;
	transition: background-color 2s ease-in-out;
	
}

.scroll-opacity {
	background-color: var(--bg-dark-opacity);
	transition: background-color 2s ease-in-out;
	
}



.cart-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	color: var(--light-green-acc);
}

.logo {
	width: 70px;
	height: auto;
}

@media screen and (min-width:1024px){
	.logo {
		width: 136px;
		height: auto;
	}
}

.hamburger-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	color: var(--light-green-acc)
}