header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-dark);
	padding: 1em;
	position: fixed;
	width: 100%;
	height: auto;
	transition: background-color 2s ease-in-out;
	
}

.scroll-opacity {
	background-color: var(--bg-dark-opacity);
	transition: background-color 2s ease-in-out;
	
}


.cart-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	transition:all 0.3s ease-in-out;
	
}.cart-button:hover{
	transform: scale(1.1);
}



.logo {
	width: 70px;
	height: auto;
}

@media screen and (min-width:1024px){
	.logo {
		width: 136px;
		height: auto;
	}
}

.hamburger-button {
	font-size: clamp(35px, 5vw, 50px);
	height: auto;
	color: var(--light-green-acc);
	transition:all 0.3s ease-in-out;
}

.hamburger-button:hover{
	cursor: pointer;
	transform: scale(1.1);
	color: var(--light-brown-acc);
}