.nav-container,
.nav-meny-container {
	height: 100%;
}

.opening-hours-contatiner {
	display: none;
}
/* .restaurang-info > li {
	color: var(--text-dark);
	font-size: 3em;
	padding: 0.2em;
} */

.contact-container {
	margin-top: 4em;
}
/* .contact-info li {
	color: var(--text-dark);
	font-size: 1.5em;
	padding: 0.1em;
} */
.contact-container .contact-info li:nth-child(1) {
	font-size: 2em;
}

.icon-container {
	padding: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cross-nav {
	color: var(--text-light);
	font-size: 3em;
	/* margin-right: 0.3em;  */
	transition: transform 0.3s ease-in-out;
}
.cross-nav:hover {
	transform: rotate(180deg);
}

.links-nav-meny {
	color: var(--text-light);
}

.cross-nav:hover,
.links-nav-meny li a:hover {
	color: var(--light-brown-acc);
}

.nav-meny-container {
	width: 100%;
	background-color: var(--dark-brown-acc);
}

.links-nav-meny {
	padding: 1em;
	text-decoration: none;
	list-style-type: none;
}

.links-nav-meny li {
	/* margin-top: 1em;  */
	padding: 2em;
}

.links-nav-meny li a {
	color: var(--text-light);
	text-decoration: none;
	font-size: 2em;
}

.nav-desktop {
	display: none;
	/* color: lime; */
}

.nav-mobile {
	display: block;
	/* color: hotpink; */
}

.large-info {
	color: var(--text-dark);
	font-size: 3em;
	padding: 0.2em;
}

.small-info {
	color: var(--text-dark);
	font-size: 1.5em;
	padding: 0.1em;
}

/* large desktop */
@media screen and (min-width: 1024px) {
	.opening-hours-contatiner {
		display: block;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		margin-top: 7em;
	}
	.nav-container {
		display: flex;
		max-width: 100vw;
	}

	.nav-meny-container li {
		font-size: 1.5em;
		/* padding: 1em;  */
	}

	.links-nav-meny {
		margin-top: 3em;
	}
	.links-nav-meny li {
		padding: 0.8em;
		display: flex;
		margin-left: 6em;
	}

	.links-nav-meny li a {
		font-size: 2em;
	}

	.nav-desktop {
		display: block;
	}

	.nav-mobile {
		display: none;
	}

	.miniburger {
		visibility: hidden;
	}
}
