.restaurang-info {
	display: none; 
}
.opening-hours-contatiner > li {
	color: var(--text-dark);
	font-size: 3em; 
	padding: 0.2em; 
}

.contact-container {
	margin-top: 4em; 
}
.contact-info li {
	color: var(--text-dark);
	font-size: 1.5em;
	padding: 0.1em; 
}
.contact-container .contact-info li:nth-child(1) {
	font-size: 2em;
}

.icon-container {
	padding: 1.5em; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cross-nav {
	color: var(--bg-light);
	font-size: 3em;
	margin-right: 0.3em; 
}

.nav-meny-container {
	width: 100%;
	height: 100vh;   
	background-color: var(--dark-brown-acc);
}

.links-nav-meny {
	padding: 1em; 
	height: 100%; 
	text-decoration: none;
	list-style-type: none;
}

.links-nav-meny li {
	margin-top: 1em; 
	padding: 2em;  
}

.links-nav-meny li a {
	color: var(--text-light);
	text-decoration: none;
	font-size: 25px;
}
 
/* large desktop */
@media screen and (min-width: 1024px) {
	.restaurang-info {
		display: block; 
		width: 100%;
		height: 100vh;
		display: flex; 
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		margin-top: 7em; 
	}
	.nav-container {
		display: flex; 
	}

	.nav-meny-container li {
		text-align:center;  
		font-size: 1.5em;
		padding: 1em; 
		margin-left: 1em; 
	}
	.links-nav-meny li {
		padding: 1em; 
	}
	
}

