.head_confirmation {
	color: var(--light-brown-acc);
	margin-top: 1em;
	padding-bottom: 0.3em;
	font-size: clamp(36px, 5vw, 64px);
}

.confirmation_container {
	padding-top: 1em;
	text-align: center;
	margin: 1em;
}

.blur {
	filter: blur(0.5rem);
}
.grey {
	background-color: grey;
}

.order_confirmation_info {
	border: 1px solid var(--dark-green-acc);
	box-shadow: var(--box-shadow);
	border-radius: var(--outer-radius);
	padding: 2.5em;
	min-width: 300px;
}

.confirmation_container .head_your_order {
	text-align: left;
	color: var(--light-brown-acc);
	margin: 1em 0.5em 0em 0.5em;
}

.order_confirmation_info p {
	font-size: clamp(16px, 5vw, 24px);
	padding: 0.5em;
}

.order_confirmation_info h2 {
	font-size: clamp(32px, 5vw, 36px);
	padding: 0.5em 0 1em 0;
}

.confirmation_container h3 {
	font-size: clamp(24px, 5vw, 32px);
	color: var(--dark-green-acc);
	padding: 0em 0 1em 0;
}

.confirmation_order_container .description-text-confirmation {
	margin-top: 1.5em;
	/* padding: 2.5em 0em 2.5em 0em; */
	font-size: 16px;
}

.name-container h4 {
	font-size: clamp(22px, 5vw, 28px);
}
.confirmation_order_container .food-price {
	padding: 0em;
	font-size: 16px;
}

.update-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 1em 2em;
}

.update-button {
	width: 4em;
}

.change-order-button,
.delete-order-button {
	padding: 1em;
	margin: 0.5em;
}
