.login-container {
	margin-top: 112px;
	background-color: var(--menu-card-color);
	padding: 2em;
	height: 27em;
	width: 85%;
	max-width: 40em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: var(--outer-radius);
	border: 1px solid var(--text-dark);
	box-shadow: var(--box-shadow);
}

.login-header {
	display: flex;
	flex-direction: column;
}

.card-container > .login-container {
	display: flex;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.input-container{
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.loginbutton {
	margin-top: 2em;
	max-width: fit-content;
	align-self: center;
}

.error-message-container{
	margin-top:0.5em;
	max-width: 50%;
	height: 2em;
	align-self: center;
}

.dirty{
	border: 2px solid rgb(145, 1, 1);
}

.footer {
	display: hidden;
}
@media screen and (min-width: 1024px) {
}


.logout-container{
	display: flex;
	justify-content: center;
	width: fit-content;
	position:fixed;
	top: 90%;
	font-size: 2em;
	padding: 0.5em 0.3em 0.3em 0.3em;
	border-radius: 0 var(--outer-radius) var(--outer-radius) 0;
	background-color: var(--bg-dark);

}

